name: Build

env:
  CONAN_REVISIONS_ENABLED: 1
  CONAN_NON_INTERACTIVE: True

on: [push, workflow_dispatch]

jobs:
  cmake-on-linux:
    name: cmake
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04]

    steps:
      - uses: actions/checkout@v2
      - name: Install prerequisites
        run: |
          sudo pip3 install --upgrade setuptools pip
          sudo pip3 install conan

      - name: Configure Conan
        run: conan remote add osp https://osp.jfrog.io/artifactory/api/conan/conan-local --force

      - name: Configure and build
        run: |
          cmake . -B build -DFMILIBCPP_BUILD_EXAMPLES=ON -DFMILIBCPP_BUILD_TESTS=ON
          cmake --build build
        shell: bash
      - name: Test
        run: |
         cd build/tests
         ctest --output-on-failure

  cmake-on-windows:
    name: cmake
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2016]

    steps:
      - uses: actions/checkout@v2
      - name: Install prerequisites
        run: |
          pip3 install --upgrade setuptools pip
          pip3 install conan

      - name: Configure Conan
        run: conan remote add osp https://osp.jfrog.io/artifactory/api/conan/conan-local --force

      - name: Configure and build
        run: |
          cmake . -A x64 -B build -DFMILIBCPP_BUILD_EXAMPLES=ON -DFMILIBCPP_BUILD_TESTS=ON
          cmake --build build --config Release

      - name: Test
        run: |
         cd build/tests
         ctest -C Release --output-on-failure
